h1{
	color: white;
}
body{
	background-color: rgb(0,180,150);
}
h4{
	text-align: left;
}
header {
             position: fixed;
             background-color: rgb(0,180,150);
             top: 0px;
             left: 0px;
             width: 100%;
             height:70px;
             font-size: 24pt;
         }
div{
    width: 100%;
    background: lightblue;
    position: fixed;
    top: 70px;
    left: 0px;
    height: 25px;
    -webkit-animation-name: myfirst;
    -webkit-animation-duration: 5s;
    font-size: 16pt;
    text-top: -25
}
@-webkit-keyframes myfirst {
    0%   {background: lightblue;}
    25%  {background: lightpurple;}
    50%  {background: lightblue;}
    100% {background: white;}
}
@keyframes myfirst {
    0%   {background: lightblue;}
    25%  {background: lightpurple;}
    50%  {background: lightblue;}
    100% {background: white;}
}
 li.navbar {
      display: inline;
            }
   
#abc {
margin-top:110px;
height: 250px;
}
a:hover { 
     background-color: navy;
     color: white;
     }
section {
     float: left;
     width: 25%;
     height: 100%;
     background-color: #bbbbbb;
     border-right: black;
     color: black;
         }
aside {
      float: left;
      width: 70%;
      height: 100%;
      background-color: red;    
         }   